* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.wrapper {
    height: 90vh;
    border: 1px solid red;
}

.board {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border: 1px solid red;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 128px;
}